@page "/how"
@using BorderCrossing.Res
@inject IStringLocalizer<SharedResource> L

<h1>@L["HowTitle"]</h1>

<p>@L["HowP11"] <a href="https://takeout.google.com/settings/takeout" target="_blank">https://takeout.google.com/settings/takeout</a> @L["HowP12"]</p>
<p>@L["HowP2"]</p>
<picture>
    <source media="(min-width: 650px)"
            srcset="images/takeout.png">
    <img src="images/takeoutM.png" />
</picture>
<p>@L["HowP4"]</p>
<picture>
    <source media="(min-width: 650px)"
            srcset="images/takeout2.png">
    <img src="images/takeoutM2.png" />
</picture>
<p>@L["HowP5"]</p>
<p>@L["HowP61"] <NavLink href="uploadfile">@L["HowP62"]</NavLink>. @L["HowP63"]</p>
<p>@L["HowP7"]</p>