@page "/"
@using BorderCrossing.Res

<h1>@Strings.HomeTitle</h1>

<p>@Strings.HomeP1</p>
<p>@Strings.HomeP21 <NavLink href="how">@Strings.HomeP22</NavLink>.</p>
<p>@Strings.HomeP3</p>
<p>@Strings.HomeP4</p>
<p>@Strings.HomeP5 <a href="mailto:amakhin@hotmail.com">amakhin@hotmail.com</a>.</p>
