@page "/"
@using BorderCrossing.Res
@inject IStringLocalizer<SharedResource> L

<h1>@L["HomeTitle"]</h1>
<p>@L["HomeP1"]</p>
<p>@L["HomeP21"] <NavLink href="how">@L["HomeP22"]</NavLink>.</p>
<p>@L["HomeP3"]</p>
<p>@L["HomeP4"]</p>
<p>@L["HomeP5"] <a href="mailto: amakhin@hotmail.com">amakhin@hotmail.com</a>.</p>


<p>@L["HomeP6"].</p>
<div id="mspb-fso2mswop8g3" class="9NKVH1BTK5R3">
    <link rel="stylesheet" type="text/css" href="https://storebadge.azureedge.net/src/fallback-1.7.0.css">
    <div id="msProductBadge" class="mspb-fallback">
        <div class="mspb-primary-image">
            <a href="https://www.microsoft.com/store/apps/9NKVH1BTK5R3?ocid=periscope" target="_blank">
                <img src="https://store-images.s-microsoft.com/image/apps.1659.13654009017527094.e6727fc7-8c05-4275-af12-37da0704ff32.64ccf5fc-4fb6-4227-903c-c4e0f048467e?w=200&h=300&format=jpg">
            </a>
        </div>
        <div class="mspb-details">
            <h1>Border Crossing</h1>
            <p class="mspb-publisher">Alexandr Makhin</p>
            <p class="mspb-price">Free</p>
            <a class="mspb-link" href="https://www.microsoft.com/store/apps/9NKVH1BTK5R3?ocid=periscope" target="_blank">SEE IN STORE</a>
        </div>
    </div>
</div>
<br/> <br/>
<a href='https://play.google.com/store/apps/details?id=com.companyname.bordercrossing&utm_campaign=Alexandr%20Makhin&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>