@page "/query"
@using BorderCrossing.Models
@using BorderCrossing.Extensions
@inherits QueryBase

<Container>
@if (Status == PageStatus.AskParameter && QueryRequest != null)
{
    <Form>
        <Validations Mode="ValidationMode.Auto" Model="@QueryRequest">
            <Validation>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">От</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <DateEdit TValue="DateTime" @bind-Date="@QueryRequest.StartDate">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </DateEdit>
                    </FieldBody>
                </Field>
            </Validation>
            <Validation>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">До</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <DateEdit TValue="DateTime" @bind-Date="@QueryRequest.EndDate">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </DateEdit>
                    </FieldBody>
                </Field>
            </Validation>
            <Validation>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2"></FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <RadioGroup TValue="BorderCrossing.Models.IntervalType" Name="interval" Inline="true" @bind-CheckedValue="@QueryRequest.IntervalType">
                            <Radio Disabled="@IsDemo" TValue="BorderCrossing.Models.IntervalType" Value="@(IntervalType.Day)">@IntervalType.Day.GetDisplayName()</Radio>
                            <Radio Disabled="@IsDemo" TValue="BorderCrossing.Models.IntervalType" Value="@(IntervalType.Hour)">@IntervalType.Hour.GetDisplayName()</Radio>
                        </RadioGroup>
                    </FieldBody>
                </Field>
            </Validation>
            <Validation>
                <Field Horizontal="true" JustifyContent="JustifyContent.Between">
                    <FieldLabel ColumnSize="ColumnSize.Is2"></FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        @foreach (var region in QueryRequest.Regions)
                        {
                            <Check Disabled="@IsDemo" TValue="bool" @bind-Checked="@region.Checked">@region.Name</Check>
                        }
                    </FieldBody>
                </Field>
            </Validation>
            <Field Horizontal="true" JustifyContent="JustifyContent.End">
                <FieldBody ColumnSize="ColumnSize.Is10.Is2.WithOffset">
                    <Button Color="Color.Primary" Clicked="@Start">Пуск</Button>
                </FieldBody>
            </Field>
        </Validations>
    </Form>

    @if (Status == PageStatus.Processing)
    {
        <Heading Margin="Margin.Is3.FromTop" Size="HeadingSize.Is6">Обработка</Heading>

        <Progress Margin="Margin.Is3.FromTop" Size="Size.Large">
            <ProgressBar Value="@PercentageProc">@PercentageProc%</ProgressBar>
        </Progress>
    }
}
</Container>