@page "/result/{RequestId}"
@using BorderCrossing.Res
@inject IStringLocalizer<SharedResource> L
@inherits ResultBase

<Container>
    @if (Response != null)
    {
    <Heading Margin="Margin.Is3.FromTop" Size="HeadingSize.Is6">@L["ResultKeepUrl"]</Heading>

        <Table Margin="Margin.Is3.FromTop">
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>@L["Arrival"]</TableHeaderCell>
                    <TableHeaderCell>@L["Country"]</TableHeaderCell>
                    <TableHeaderCell>@L["Departure"]</TableHeaderCell>
                    <TableHeaderCell>@L["Days"]</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (var period in Response.Periods)
                {
                    <TableRow>
                        <TableRowCell><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@period.ArrivalPoint.Point.Coordinate.Y,@period.ArrivalPoint.Point.Coordinate.X">@period.ArrivalPoint.Date.ToString("dd.MM.yyyy HH:mm")</a></TableRowCell>
                        <TableRowCell>@period.Country</TableRowCell>
                        <TableRowCell><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@period.DeparturePoint.Point.Coordinate.Y,@period.DeparturePoint.Point.Coordinate.X">@period.DeparturePoint.Date.ToString("dd.MM.yyyy HH:mm")</a></TableRowCell>
                        <TableRowCell>@period.Days</TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>

        <Table>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>@L["Country"]</TableHeaderCell>
                    <TableHeaderCell>@L["Days"]</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (var (country, days) in Response.CountryDays)
                {
                    <TableRow>
                        <TableRowHeader>@country</TableRowHeader>
                        <TableRowCell>@days</TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    }
    else
    {
        <Heading Margin="Margin.Is3.FromTop" Size="HeadingSize.Is6" TextColor="TextColor.Danger">@Message</Heading>
    }
</Container>