@page "/result/{RequestId}"
@using BorderCrossing.Models
@inherits ResultBase

<Container>
@if (Response != null)
{
    <Heading Margin="Margin.Is3.FromTop" Size="HeadingSize.Is6">Если вы сохраните ссылку на эту страницу, то будете иметь доступ к результатам без повторной загрузки файла.</Heading>

    <Table Margin="Margin.Is3.FromTop">
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Въезд</TableHeaderCell>
                <TableHeaderCell>Страна</TableHeaderCell>
                <TableHeaderCell>Выезд</TableHeaderCell>
                <TableHeaderCell>Дни</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var period in Response.Periods)
            {
                <TableRow>
                    <TableRowCell><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@period.ArrivalPoint.Point.Coordinate.Y,@period.ArrivalPoint.Point.Coordinate.X">@period.ArrivalPoint.Date.ToString("dd.MM.yyyy HH:mm")</a></TableRowCell>
                    <TableRowCell>@period.Country</TableRowCell>
                    <TableRowCell><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@period.DeparturePoint.Point.Coordinate.Y,@period.DeparturePoint.Point.Coordinate.X">@period.DeparturePoint.Date.ToString("dd.MM.yyyy HH:mm")</a></TableRowCell>
                    <TableRowCell>@period.Days</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>

    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Страна</TableHeaderCell>
                <TableHeaderCell>Дни</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var (country, days) in Response.CountryDays)
            {
                <TableRow>
                    <TableRowHeader>@country</TableRowHeader>
                    <TableRowCell>@days</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}
else
{
    <Heading Margin="Margin.Is3.FromTop" Size="HeadingSize.Is6" TextColor="TextColor.Danger">@Message</Heading>
}
</Container>