@page "/uploadfile"
@using BorderCrossing.Models
@using BorderCrossing.Components
@inherits UploadFileBase

<p>@Status</p>

@if (DateRangePostRequest != null)
{
    <EditForm Model="@DateRangePostRequest" OnValidSubmit="HandleValidSubmit" class="form-inline">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group mb-2">
            <InputDate class="form-control" @bind-Value="DateRangePostRequest.StartDate" />
        </div>
        <div class="form-group mb-2">
            <InputDate class="form-control" @bind-Value="DateRangePostRequest.EndDate" />
        </div>
        <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </EditForm>
}
else
{
    <input type="file" @ref=InputTypeFileElement />
    <button @onclick=ReadFile>Read file</button>

    @*<FileUploader OnUploadCompleteCallback="@OnUploadComplete" />*@
}

@if (BorderCrossingResponse != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Въезд</th>
                <th>Страна</th>
                <th>Выезд</th>
                <th>Дни</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Period period in BorderCrossingResponse.Periods)
            {
                <tr>
                    <td><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@period.ArrivalPoint.Point.Coordinate.X,@period.ArrivalPoint.Point.Coordinate.Y">@period.ArrivalPoint.Date</a></td>
                    <td>@period.Country</td>
                    <td><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@period.DeparturePoint.Point.Coordinate.X,@period.DeparturePoint.Point.Coordinate.Y">@period.ArrivalPoint.Date</a></td>
                    <td>@period.Days</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>Страна</th>
                <th>Дни</th>
            </tr>
        </thead>
        <tbody>
            @foreach (KeyValuePair<string, int> countryDay in BorderCrossingResponse.CountryDays)
            {
                <tr>
                    <td>@countryDay.Key</td>
                    <td>@countryDay.Value</td>
                </tr>
            }
        </tbody>
    </table>
}
