@page "/uploadfile"
@using BorderCrossing.Models
@inherits UploadFileBase

<Container>
    @if (Status == Status.ReadyToUpload || Status == Status.Uploading)
    {
        <Validations Mode="ValidationMode.Manual">
            <Validation Status="@FileUploadStatus">
                <FileEdit Multiple="false" Filter=".zip" Changed="@OnChanged" Progressed="@OnProgressed" Disabled="@(Status != Status.ReadyToUpload)">
                    <Feedback>
                        <ValidationError>@ErrorMessage</ValidationError>
                    </Feedback>
                </FileEdit>
            </Validation>
        </Validations>

        @if (Status == Status.Uploading)
        {
            <Heading Margin="Margin.Is3.FromTop" Size="HeadingSize.Is6">Загрузка</Heading>

            <Progress Margin="Margin.Is3.FromTop" Size="Size.Large">
                <ProgressBar Value="@PercentageLoad">@PercentageLoad%</ProgressBar>
            </Progress>
        }
    }
    @if (Status == Status.Deserializing)
    {
        <Heading Margin="Margin.Is3.FromTop" Size="HeadingSize.Is6">Подготовка</Heading>

        <Progress Margin="Margin.Is3.FromTop" Size="Size.Large">
            <ProgressBar Value="@PercentagePrep">@PercentagePrep%</ProgressBar>
        </Progress>
    }
    @if (Status == Status.AskParameter && DateRangePostRequest != null)
    {
        <Form>
            <Validations Mode="ValidationMode.Auto" Model="@DateRangePostRequest">
                <Validation>
                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">От</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <DateEdit TValue="DateTime" @bind-Date="@DateRangePostRequest.StartDate">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">До</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <DateEdit TValue="DateTime" @bind-Date="@DateRangePostRequest.EndDate">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">Интервал</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <RadioGroup TValue="int" Name="interval" Inline="true" CheckedValue="@DateRangePostRequest.Interval">
                                <Radio Disabled="true" TValue="int" Value="@(1)">По дням</Radio>
                                <Radio  Disabled="true"TValue="int" Value="@(2)">По часам</Radio>
                            </RadioGroup>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field Horizontal="true" JustifyContent="JustifyContent.Between">
                        <FieldLabel ColumnSize="ColumnSize.Is2">Регионы</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            @foreach (var region in DateRangePostRequest.Regions)
                            {
                                <Check Disabled="true" TValue="bool" @bind-Checked="@region.Checked">@region.Name</Check>
                            }
                        </FieldBody>
                    </Field>
                </Validation>
                <Field Horizontal="true" JustifyContent="JustifyContent.End">
                    <FieldBody ColumnSize="ColumnSize.Is10.Is2.WithOffset">
                        <Button Color="Color.Primary" Clicked="@Start">Пуск</Button>
                    </FieldBody>
                </Field>
            </Validations>
        </Form>
    }

    @if (Status == Status.Processing)
    {
        <Heading Margin="Margin.Is3.FromTop" Size="HeadingSize.Is6">Обработка</Heading>

        <Progress Margin="Margin.Is3.FromTop" Size="Size.Large">
            <ProgressBar Value="@PercentageProc">@PercentagePrep%</ProgressBar>
        </Progress>
    }

    @if (Status == Status.Results && BorderCrossingResponse != null)
    {
        <Table>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Въезд</TableHeaderCell>
                    <TableHeaderCell>Страна</TableHeaderCell>
                    <TableHeaderCell>Выезд</TableHeaderCell>
                    <TableHeaderCell>Дни</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (Period period in BorderCrossingResponse.Periods)
                {
                    <TableRow>
                        <TableRowCell><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@period.ArrivalPoint.Point.Coordinate.X,@period.ArrivalPoint.Point.Coordinate.Y">@period.ArrivalPoint.Date</a></TableRowCell>
                        <TableRowCell>@period.Country</TableRowCell>
                        <TableRowCell><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@period.DeparturePoint.Point.Coordinate.X,@period.DeparturePoint.Point.Coordinate.Y">@period.DeparturePoint.Date</a></TableRowCell>
                        <TableRowCell>@period.Days</TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>

        <Table>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Страна</TableHeaderCell>
                    <TableHeaderCell>Дни</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (KeyValuePair<string, int> countryDay in BorderCrossingResponse.CountryDays)
                {
                    <TableRow>
                        <TableRowHeader>@countryDay.Key</TableRowHeader>
                        <TableRowCell>@countryDay.Value</TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    }
</Container>



